#clockcontainer{
    position: relative;
    margin: auto;
    border: 2px solid red;
    background-color: red;
    height: 48vw;
    width: 50vw;
    background: url(clockk.png) no-repeat;
    background-size: 100%;
    object-fit: cover
}
#hour, #minute, #second{
    position: relative;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width:1%;
    height: 18%;
    top: 27%;
    left: 49%;
}
#minute{
    width:1%;
    height: 23%;
    top: 5%;
    left: 49%;
}
#second{
    width:1%;
    height: 28%;
    top: -23%;
    left: 49%;
}
#timing{
    columns: #54212f;
    font-weight: bold;
    position: absolute;
    right: 3%;
    bottom: 3%;
    border: 1px solid black;
    padding: 10px;
    font-family: 'ubuntu', sans-serif;
}
#displaytime{
    columns: #54212f;
    font-weight: bold;
    position: absolute;
    left: 3%;
    top: 3%;
    border: 1px solid black;
    padding: 10px;
    font-family: 'ubuntu', sans-serif;
}
#displayday{
    columns: #54212f;
    font-weight: bold ;
    font-size: 90%;
    position: absolute;
    right: 2%;
    top: 2%;
    border: 1px solid black;
    padding: 0.5%;
    font-family: 'ubuntu', sans-serif;
}